*{
  font-family: 'Common Pixel', sans-serif;
}

.point-scored{
  background-color: red;
}

.score-text{
  position: absolute;
  left: 50%;
  top: -70px;
  transform: translate(-50%, 0);
  font-size: 8em;
  z-index: -1;
}
.reset-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.paddle {
  background-color: red;
  width: 20px;
  height: 16vh;
  position: absolute;
}

.left {
  left: 10px;
  top: 40%;
}

.right {
  right: 10px;
  top: 40%;
}

.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 10vw;
  top: 50vh;
  mix-blend-mode: luminosity;
}
